@{ 
	var cols = _Fun.DefHCols;
}

<script src="~/js/view/UserExt.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { "用戶學經歷維護" } })
<div class="xp-prog">
    <div id="divRead" class="xg-swap xg-active">
		<form id='rform' class='xg-form' style="margin-bottom:0;">
			<div class="row">
				@await Component.InvokeAsync("XiText", new { title = "帳號", fid = "Account", maxLen = 20, inRow = true })
				@await Component.InvokeAsync("XgFindTbar", new { hasReset = true })
			</div>
			@await Component.InvokeAsync("XiText", new { title = "使用者名稱", fid = "Name", maxLen = 20 })
			@await Component.InvokeAsync("XiSelect", new { title = "部門", fid = "DeptId", rows = (List<IdStrDto>)ViewBag.Depts })
        </form>

		<div class='xg-btns-box'>
        </div>
        <table id="table1" class="table table-bordered xg-table" cellspacing="0">
            <thead>
                <tr>
					<th>帳號</th>
					<th>使用者名稱</th>
					<th>部門</th>
					<th>資料狀態</th>
					<th>維護</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="divEdit" class="xg-swap">
        <partial name="Edit" />
    </div>
</div>